@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  --font-family: "Manrope", sans-serif;
	--d22c34: #d22c34;
	--dark-01: #1c1c1c;
	--dark-02: #494949;
	--dark-03: #777;
	--dark-04: #a4a4a4;
	--dark-05: #d2d2d2;
	--dark-06: #e8e8e8;
	--dark-07: #f4f4f4;
	--white-color: #fff;
}